@media (max-width: 1100px) {
    h1 {
        font-size: 27px;
        text-align: center;
        line-height: 40px;
        padding: 15px;
    }
    h2 {
        text-align: center;
        width: 100%;
        font-size: 27px;
        margin-bottom: 20px;
    }
    main {
        height: fit-content;
        background-size: 170%;
        background-position: top right 70%;
        padding: 20px;
        .main-section {
            header {
                margin: 0 0 80px 0;
                .logo  {
                    img {
                        max-width: 120px;
                    }
                }
                nav {
                    display: none;
                }
            }
            .advantages {
                margin: 50px 0 0 0;
                li {
                    align-items: flex-start;
                    font-size: 14px;
                    &::before {
                        margin-right: 10px;
                    }
                }
            }
        }     
        .phone {
            a:not(.phone__icon) {
                display: none;
            }
        }
    }
    
    .girls {
        &-cards {
            justify-content: center;
            &__item {
                &:not(:nth-child(1)) {
                    display: none;
                }
            }
        }
    }

    .sauna {
        background-size: 120%;
        background-position: center 0;
        margin: 0;
        height: 100%;
        padding-top: 200px;
        padding-bottom: 100px;
        &__wrapper {
            margin: 0;
            width: 100%;            
        }
        &__content {
            flex-flow: wrap column-reverse;            
        }
        &__text {
            text-align: center;
            padding-top: 40px;
            padding-bottom: 30px;
            width: 100%;
            height: auto;
        }
        &__img {
            margin-bottom: -30px;
            width: 40%;
            img {
                width: 100%;
            }
        }
    }

    .services {
        &__wrapper {
            justify-content: center;            
        }
        &__banner {
            width: 100%;           
            height: auto;  
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;   
            justify-content: center;
            .banner__img {
                width: auto;
                margin-top: -50px;
                img {
                    width: 100%;
                }
            }
            .banner__text {
                margin: 0;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 30px;
            }
            .banner__btn {
                margin-left: 0;
            }
        }
        &__list {
            margin-bottom: 70px;            
        }
        &__item {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 95%;
            margin-bottom: 20px;            
        }
        &__image {
            margin-right: 0;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

    .photos {
        overflow: hidden;
        &__slider {
            width: 100%;
            padding: 0 5px;
            div {
                img {
                    max-height: 270px;
                }
            }
        }
    }

    
    .contacts {
        text-align: center;
        &__content {
            align-items: center;            
        }
        &__map {
            width: 100%;
            height: 180px;
            margin-right: 0;
        }
        &__sidebar {
            display: flex;
            flex-flow: wrap column;
            align-items: center;
            width: 100%;
            margin-top: 30px;            
        }
        &__btn {
            .call-button {
                margin: 0px;
            }
        }
        &__undergrounds {
            margin-top: 10px;
        }
    }
    .privacy-policy {
        margin: 0;
    }
}

@media (max-width: 1300px) {
    h2 {
        text-align: center;
        width: 100%;
    }
    .sauna__wrapper {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }   
    .photos__slider {
        width: 100%;
    }
    .contacts, .girls-cards, .services__wrapper  {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .girls-cards {
        padding-right: 150px;
        padding-left: 150px;
    }
}